.Input {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.Label {
    background-color: white;
    z-index: 10;
}

.InputElement {
    padding: 10px;
    color: blue;
}

.Invalid {
    border: 1px solid red;
}

.Error {
    color: red;
    font-size: 10px;
}